<div class="signup-box">
  <%= simple_form_for @recipe, html: { multipart: true } do |f| %>
    <% if @recipe.errors.any? %>
      <p><%= @recipe.errors.count %></p>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    <% end %>
    <div class="panel-body">
      <%= f.input :title, class: 'form-control' %>
      <%= f.input :description, class: 'form-control' %>
      <%= f.input :image, as: :file %>
      <%= f.input :prep_time, label: 'Preparation time (in minutes)', collection: (0..1000).to_a, class: 'form-control' %>
      <%= f.input :cooking_time, label: 'Cooking time (in minutes)', collection: (0..120).to_a, class: 'form-control' %>
      <%= f.input :difficulty, as: :radio_buttons,
      collection: [
        "Easy peasy",
        "A little challenging",
        "Difficult",
        "A toughy, for pros only!"],
        class: 'form-control capitalize' %>
      <%= f.input :servings, class: 'form-control' %>
      <div class="recipe-form-links form-actions">
        <%= f.button :submit, class: "btn" %>
        <%= link_to "Back", root_path, class: "btn" %>

      </div>
    </div>

  <% end %>

</div>


