<div class="index-container">
  <div class="hero">
    <div class="hero-content">
      <h1>
        Vegan
        <br>
        Bakes.
      </h1>

    </div>

  </div>


    <div class="hero-text">
<!--       <h4>Tried and tested vegan recipes for baked treats!</h4>
 --><!--       <h4 class="roboto">Scroll for recipes...</h4>
 -->    </div>

    <!-- TODO Get image showing and reduce transparency -->
    <div class="cupcake-home" style="background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1596998123/cupcake-home_opeszq.jpg');">
    </div>

  </div>



  <div class="recipes-index-container">

    <h1>All Recipes.</h1>

    <div class="recipes-container">
      <% @recipe.each do |recipe| %>

          <div class="recipe">
            <div class="box">

            <%= link_to recipe do %>
              <%= cl_image_tag recipe.image.key, width: 280, height: 280, crop: :fill %>
              <div class="recipe-info">
                <h2><%= recipe.title %></h2>
                <% if recipe.prep_time.present? %>
                  <p><span>Prep time: </span><%= recipe.prep_time %> minutes</p>
                <% end %>
                <% if recipe.cooking_time.present? %>
                  <p><span>Cooking time: </span><%= recipe.cooking_time %> minutes</p>
                <% end %>
                <% if recipe.difficulty.present? %>
                  <p><span>Difficulty: </span><%= recipe.difficulty %></p>
                <% end %>
                <% if recipe.servings.present? %>
                  <p>Makes <%= recipe.servings %> servings</p>
                <% end %>
              </div>
            <% end %>
          </div>

          </div>

      <% end %>
    </div>

    <div class="bottom-row">
      <%= link_to "Edit/Delete Account", edit_user_registration_path %>
    </div>
  </div>
</div>

