<div class="index-container">
  <div class="hero">
    <h1>
      Vegan
      <br>
      <span>Bakes.</span>
    </h1>

    <div class="hero-circle">
      <p>Scroll for recipes...</p>
    </div>

    <!-- TODO Get image showing and reduce transparency -->
    <div class="cupcake-home" style="background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1596998123/cupcake-home_opeszq.jpg');">
    </div>
  </div>

  <div class="recipes-index-container">
    <h1>All Recipes.</h1>

    <div class="recipes-container">

      <% @recipe.each_slice(3) do |recipes| %>

        <div class="row">
          <% recipes.each do |recipe| %>

            <div class="col">

              <div class="recipe">

                <%= link_to recipe do %>
                  <%= cl_image_tag recipe.image.key, width: 360, height: 320, crop: :fill %>
                  <div class="recipe-info">
                    <h2><%= recipe.title %></h2>
                    <p><span>Prep time: </span><%= recipe.prep_time %></p>
                    <p><span>Cooking time: </span><%= recipe.cooking_time %></p>
                    <p><span>Difficulty: </span><%= recipe.difficulty %></p>
                    <p><span>Serving size: </span><%= recipe.servings %></p>
                  </div>
                <% end %>

              </div>

            </div>

          <% end %>
        </div>

      <% end %>
    </div>

    <div class="bottom-row">
      <%= link_to "Edit/Delete Account", edit_user_registration_path %>
    </div>
  </div>
</div>

