<div class="index-container">
  <div class="hero">
    <div class="hero-content">
      <h1>
        Vegan
        <br>
        Bakes.
      </h1>
      <!-- add buttons here to remove nav -->
    </div>
    <%= cl_image_tag("https://res.cloudinary.com/dpzjvi2w1/image/upload/v1598380113/cake-1_zx4xim.png") %>
    <p>Tried and tested recipes!</p>
  </div>


    <!-- TODO Get image showing and reduce transparency -->
<!--     <div class="cupcake-home" style="background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1596998123/cupcake-home_opeszq.jpg');">
    </div> -->
<!--     <div class="cupcake-svg" style="background-image: url('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1598376887/cupcake-edit2x_p3pgoy.svg')">
    </div> -->

</div>



<div class="recipes-index-container">

    <div class="recipes-container">
      <% @recipe.each do |recipe| %>

          <div class="recipe">
            <div class="box">

            <%= link_to recipe do %>
              <%= cl_image_tag recipe.image.key, width: 280, height: 280, crop: :fill %>
              <div class="recipe-info">
                <p><%= recipe.title %></p>
              </div>
            <% end %>
          </div>

          </div>

      <% end %>
    </div>

    <div class="bottom-row">
      <% if user_signed_in? %>
        <%= link_to "Edit/Delete Account", edit_user_registration_path %>
      <% end %>
    </div>
  </div>
</div>

