<!-- <div class="recipe-image">
</div> -->
<% if @recipe.image.attached? %>
  <%= cl_image_tag @recipe.image.key, width: 320, height: 320, crop: :fill %>
<% end %>

<h1><%= @recipe.title %></h1>
<p><%= @recipe.description %></p>

<% if @recipe.ingredients.any? %>
  <h2>Ingredients</h2>
  <% @recipe.ingredients.each do |ingredient| %>
    <p><%= ingredient.name %></p>
  <% end %>
<% else %>
  <h2>Don't forget to add your ingredients!</h2>
<% end %>

<%= link_to "Add Ingredients", new_recipe_ingredient_path(@recipe) %>

<%= link_to "Edit", edit_recipe_path, class: "btn btn-default" %>
<%= link_to "Back", root_path, class: "btn btn-default" %>
<%= link_to "Delete", recipe_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-default" %>
