<div class="show-container">

  <div class="row-1 flex">

    <% if @recipe.image.attached? %>
      <%= cl_image_tag @recipe.image.key %>
    <% end %>
    <div class="show-description l-padding">
      <div>
        <h1><%= @recipe.title %></h1>
        <p>
          By
          - <%= @recipe.user.name %>
        <br>
          <%= @recipe.description %></p>
      </div>

      <div class="show-numbers">
        <p><span>Prep time:</span> <%= @recipe.prep_time %> minutes</p>
        <p><span>Cooking time:</span> <%= @recipe.cooking_time %> minutes</p>
        <p><span>Difficulty: </span><%= @recipe.difficulty %></p>
        <p><span>Serving size: </span><%= @recipe.servings %></p>
      </div>

      <% if user_signed_in? && current_user === @recipe.user %>
        <div class="show-buttons">
          <%= link_to "Edit", edit_recipe_path, class: "btn btn-default button" %>

          <% if @recipe.ingredients.any? %>

          <% else %>
              <%= link_to "Add some ingredients!", new_recipe_ingredient_path(@recipe), class: "btn btn-default button" %>
          <% end %>

          <% if @recipe.directions.any? %>

          <% else %>
            <%= link_to "Add the directions!", new_recipe_direction_path(@recipe), class: "btn btn-default button" %>
          <% end %>

        </div>
      <% end %>

    </div>
  </div>


  <div class="row-2">
    <div class="ingredients-container">
      <% if @recipe.ingredients.any? %>
        <h2>Ingredients</h2>
<!--         <hr>
 -->        <% @recipe.ingredients.each do |ingredient| %>
          <label class="container">
            <p><%= ingredient.name %></p>
            <input type="checkbox">
            <span class="checkmark"></span>
          </label>

          <hr>
        <% end %>

        <% if user_signed_in? && current_user === @recipe.user %>
          <%= link_to "Add another ingredient", new_recipe_ingredient_path(@recipe), class: "btn btn-default button" %>
        <% end %>

      <% end %>
    </div>

    <div class="directions-container">
      <% if @recipe.directions.any? %>
        <h2>Directions</h2>
        <% @recipe.directions.each_with_index do |direction, index| %>
          <div class="direction-single">
            <h6><%= index + 1 %></h6><p><%= direction.content %></p>
          </div>
        <% end %>

        <% if user_signed_in? && current_user === @recipe.user %>
          <%= link_to "Add next step", new_recipe_direction_path(@recipe), class: "btn btn-default button" %>
        <% end %>
      <% end %>
    </div>
  </div>

</div>





