<div class="show-container">
  <div class="logo-circle">
  </div>
  <div class="logo-image">
    <%= link_to root_path do %>
      <%= cl_image_tag('https://res.cloudinary.com/dpzjvi2w1/image/upload/v1598477281/Vegan_Bakes_wkziry.png') %>
    <% end %>
  </div>
  <div class="row-1 flex">

    <% if @recipe.image.attached? %>
      <%= cl_image_tag @recipe.image.key %>
    <% end %>

    <div class="show-description l-padding">
      <div>
        <p style="padding-top: 64px; text-transform: uppercase;
    font-weight: bold;"><%= @recipe.user.name %>'s</p>
        <span class="line"></span>
        <h1 class="roboto head-b-padding" style="padding-top: 0 !important"><%= @recipe.title %></h1>
        <hr>
      </div>


      <div>
        <p><%= @recipe.description %></p>
      </div>

      <div class="show-numbers">
        <p><span>Prep time:</span> <%= @recipe.prep_time %> minutes</p>
        <p><span>Cooking time:</span> <%= @recipe.cooking_time %> minutes</p>
        <p><span>Difficulty: </span><%= @recipe.difficulty %></p>
        <p><span>Serving size: </span><%= @recipe.servings %></p>
      </div>

      <% if user_signed_in? && current_user === @recipe.user %>
        <div class="form-actions">
          <%= link_to "Edit", edit_recipe_path, class: "btn btn-default button" %>
          <%= button_to "Delete Recipe", recipe_path, method: :delete, onclick: "return confirm('Are you sure you want to delete this recipe?')", style: "background: transparent; border: none;", class: "links nav-link form-inline" %>

          <% if @recipe.ingredients.any? %>
          <% else %>
              <%= link_to "Add some ingredients!", new_recipe_ingredient_path(@recipe), remote: true, class: "btn btn-default button" %>
          <% end %>
          <% if @recipe.directions.any? %>
          <% else %>
            <%= link_to "Add the directions!", new_recipe_direction_path(@recipe), class: "btn btn-default button" %>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>


  <div class="row-2">
    <div class="ingredients-container">
      <% if @recipe.ingredients.any? %>
        <h2 class="roboto head-b-padding">Ingredients</h2>
          <% @recipe.ingredients.each do |ingredient| %>
            <label class="container">
              <p style="text-transform: capitalize"><%= ingredient.name %></p>
              <input type="checkbox">
              <span class="checkmark"></span>
            </label>
          <hr>

          <% end %>

        <% if user_signed_in? && current_user === @recipe.user %>

          <div class="new-ingredient">
            <%= link_to "Add an ingredient", new_recipe_ingredient_path(@recipe), remote: true, class: "btn btn-default button links" %>
          </div>

        <% end %>

      <% end %>
    </div>

    <div class="directions-container">
      <% if @recipe.directions.any? %>
        <h2 class="roboto head-b-padding">Directions</h2>
        <% @recipe.directions.each_with_index do |direction, index| %>
          <div class="direction-single">
            <h6 class="roboto"><%= index + 1 %></h6><p><%= direction.content %></p>
          </div>
        <% end %>

        <% if user_signed_in? && current_user === @recipe.user %>
          <%= link_to "Add next step", new_recipe_direction_path(@recipe), class: "btn btn-default links" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="mobile-nav">
      <% if user_signed_in? %>
        <% if current_user === @recipe.user %>
          <div>
            <%= button_to "Delete Recipe", recipe_path, method: :delete, onclick: "return confirm('Are you sure you want to delete this recipe?')", class: "btn links" %>
          </div>
          <hr>
        <% end %>
        <div>
          <%= link_to "Add New Recipe", new_recipe_path, class: "btn links" %>
        </div>
        <hr>
        <div>
          <%= link_to "Sign Out", destroy_user_session_path, class: "btn links" %>
        </div>
      <% else %>
      <div>
        <%= link_to "Log in", new_user_session_path, class: "btn links" %>
      </div>
      <div>
        <%= link_to "Sign up", new_user_registration_path, class: "btn links" %>
      </div>
<!--       <div>

      </div> -->
      <% end %>
    </div>

</div>





